<section class="education container">
    <h3>Education Details</h3>
    <div class="item">
      <div class="date">
        <p>2019 - 2023 </p>
      </div>
      <div class="details">
        <p>Bachelor of Engineering</p>
      </div>
      <div class="place">
        <p>N.M.A.M Institute of Technology,Nitte</p>
      </div>
    </div>
    <div class="item">
      <div class="date">
        <p>2017 - 2019</p>
      </div>
      <div class="details">
        <p>Science Student</p>
      </div>
      <div class="place">
       R.N. Shetty Pre University,Kundapur
      </div>
    </div>
    <div class="item">
      <div class="date">
        <p>2006 - 2017</p>
      </div>
      <div class="details">
        <p>Karnataka State Board Student</p>
      </div>
      <div class="place">
        <p>Sri Venkataramana English Medium School</p>
      </div>
    </div>
 



<br>
<br>
<br>
<div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="#">Facebook</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
</div>

</section>