<div class="container">
  <br />
  <h2 style="text-align: center">Certifications</h2>
  <br />
  <div class="row">

<!-- 1 certificate  -->
    <div class="col-lg-6 col-sm-12 col-md-12 adjustments">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Programming with MATLAB</h5>
          <div class="card-text">
            <p>Issued By : Coursera</p>
            <p>Date : July 2022</p>
          </div>
        </div>
      </div>
    </div>
<!-- 2 certificate  -->
    <div class="col-lg-6 col-sm-12 col-md-12 adjustments">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Data Science for Engineers</h5>
          <div class="card-text">
            <p>Issued By : NPTEL Swayam</p>
            <p>Date :  Sep 2020</p>
          </div>
        </div>
      </div>
    </div>
<!-- 3 certificate  -->
    <div class="col-lg-6 col-sm-12 col-md-12 adjustments">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Ui PATH RPA Developer Foundation</h5>
          <div class="card-text">
            <p>Issued By : RPA Foundation</p>
            <p>Date :  Nov 2021</p>
          </div>
        </div>
      </div>
    </div>
<!-- 4 certificate  -->
    <div class="col-lg-6 col-sm-12 col-md-12 adjustments">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Big Data Essentials: HDFS, MapReduce and Spark RDD</h5>
          <div class="card-text">
            <p>Issued By : Coursera</p>
            <p>Date :Feb 2022</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br /><br />
</div>