<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Strong in design and integration with intuitive problem-solving skills. Proficient in JAVA, C#, PYTHON, JAVASCRIPT, and SQL.
    </p>
    <p>
        Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions.
    </p>
    <p>
        Looking to start the career as an entry-level software engineer with a reputed firm driven by technology.
    </p>
<br>
<br>
<br>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>